flows_DESKTOP-4TG49J4.json
[{"id":"91756097.6bd82","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"a894b0dd.23c79","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"58feb855.e33be8","type":"tab","label":"Flow 6","disabled":true,"info":""},{"id":"205235c3.60ff0a","type":"mqtt-broker","z":"","name":"test","broker":"192.168.75.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a4116336.3c526","type":"ui_tab","z":0,"name":"Tab 1","icon":"dashboard","order":1},{"id":"f966bdbb.464bf","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d102284f.a26708","type":"ui_group","z":0,"name":"Group 1","tab":"a4116336.3c526","order":1,"disp":true,"width":6},{"id":"6e7091f4.5e6cb","type":"ui_group","z":0,"name":"Group 2","tab":"a4116336.3c526","order":2,"disp":true,"width":6},{"id":"9e5bdd6d.2127f","type":"ui_group","z":0,"name":"Group 3","tab":"a4116336.3c526","order":3,"disp":true,"width":6},{"id":"3a350082.a9c5b","type":"dialog-flow-listener-config","z":0,"name":"test","port":"1089"},{"id":"dfd3dd6f.cb6ac","type":"dialog-flow-listener-config","z":0,"name":"สวัสดี","port":"1089"},{"id":"52f505c0.73f7dc","type":"mosca in","z":"91756097.6bd82","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":200,"y":200,"wires":[["5dcfe8bf.d30ee8"]]},{"id":"5dcfe8bf.d30ee8","type":"debug","z":"91756097.6bd82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":200,"wires":[]},{"id":"d1953cee.110c8","type":"debug","z":"91756097.6bd82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":320,"wires":[]},{"id":"2c46fd55.4cc272","type":"mqtt out","z":"91756097.6bd82","name":"","topic":"inTopic","qos":"","retain":"","broker":"205235c3.60ff0a","x":450,"y":400,"wires":[]},{"id":"5656e40d.43121c","type":"debug","z":"a894b0dd.23c79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":180,"wires":[]},{"id":"28353dfa.07fea2","type":"http in","z":"a894b0dd.23c79","name":"firstbot","url":"firstbot","method":"post","upload":false,"swaggerDoc":"","x":150,"y":280,"wires":[["6f2e0df5.12dcf4","f5f1e686.f4f3f8"]]},{"id":"d6e5c894.5ae388","type":"function","z":"a894b0dd.23c79","name":"สวัสดี","func":"msg.payload = {\n  replyToken: msg.payload.events[0].replyToken,\n  messages: [\n    {\n      type: \"text\",\n      text: `สวัสดีครับ ต้องการอะไรเพิ่มเติมบอกได้นะครับ`,\n    },\n    {\n      type: \"template\",\n      altText: \"this is a carousel template\",\n      template: {\n        type: \"carousel\",\n        imageSize: \"contain\",\n        columns: [\n          {\n            thumbnailImageUrl:\n              \"https://vos.line-scdn.net/bot-designer-template-images/event/brown-card.png\",\n            title: \"LINE Brown Card\",\n            text: \"A Mart 15% discount\",\n            actions: [\n              {\n                type: \"message\",\n                label: \"Choose LINE Card\",\n                text: \"Choose LINE Brown Card\",\n              },\n            ],\n          },\n          {\n            thumbnailImageUrl:\n              \"https://vos.line-scdn.net/bot-designer-template-images/event/cony-card.png\",\n            title: \"LINE Cony Card\",\n            text: \"A Mart 10% discount\",\n            actions: [\n              {\n                type: \"message\",\n                label: \"Choose LINE Card\",\n                text: \"Choose LINE Cony Card\",\n              },\n            ],\n          },\n          {\n            thumbnailImageUrl:\n              \"https://vos.line-scdn.net/bot-designer-template-images/event/sally-card.png\",\n            title: \"LINE Sally Card\",\n            text: \"A Mart 15% Mileage\",\n            actions: [\n              {\n                type: \"message\",\n                label: \"Choose LINE Card\",\n                text: \"Choose LINE Sally Card\",\n              },\n            ],\n          },\n          {\n            thumbnailImageUrl:\n              \"https://vos.line-scdn.net/bot-designer-template-images/event/choco-card.png\",\n            title: \"LINE Choco Card\",\n            text: \"A Mart 10% Mileage\",\n            actions: [\n              {\n                type: \"message\",\n                label: \"Choose LINE Card\",\n                text: \"Choose LINE Choco Card\",\n              },\n            ],\n          },\n        ],\n      },\n    },\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":200,"wires":[["242acf1c.94c42"]]},{"id":"242acf1c.94c42","type":"http request","z":"a894b0dd.23c79","name":"test","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.line.me/v2/bot/message/reply","tls":"","persist":false,"proxy":"","authType":"bearer","x":750,"y":280,"wires":[["5656e40d.43121c"]]},{"id":"6f2e0df5.12dcf4","type":"debug","z":"a894b0dd.23c79","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":100,"wires":[]},{"id":"f5f1e686.f4f3f8","type":"switch","z":"a894b0dd.23c79","name":"","property":"payload.events[0].message.text","propertyType":"msg","rules":[{"t":"eq","v":"สวัสดี","vt":"str"},{"t":"eq","v":"ขอบคุณ","vt":"str"},{"t":"eq","v":"เค้า","vt":"str"},{"t":"eq","v":"อยากมีเเฟน","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":370,"y":280,"wires":[["d6e5c894.5ae388","babeb00e.4e5b9"],["706246fb.4ce6e8"],["82fedf7f.fbe24"],[],["7b1826d5.3d2658"]]},{"id":"706246fb.4ce6e8","type":"function","z":"a894b0dd.23c79","name":"ขอบคุณครับ","func":"msg.payload = {\n  replyToken: msg.payload.events[0].replyToken,\n  messages: [\n    {\n      type: \"text\",\n      text: `ขอบคุณครับ มีอะไร ปรึกษาได้ตลอดเลยนะครับ`,\n    },\n    {\n      type: \"sticker\",\n      packageId: 11537,\n      stickerId: 52002744,\n    },\n    {\n      type: \"template\",\n      altText: \"this is a buttons template\",\n      template: {\n        type: \"buttons\",\n        title: \"Question 1\",\n        text: \"Where do you spend your money most ? \",\n        actions: [\n          {\n            type: \"message\",\n            label: \"Mart\",\n            text: \"Mart\",\n          },\n          {\n            type: \"message\",\n            label: \"Oil\",\n            text: \"Oil\",\n          },\n          {\n            type: \"message\",\n            label: \"Telephone charges\",\n            text: \"Telephone charges\",\n          },\n          {\n            type: \"message\",\n            label: \"Cafeteria\",\n            text: \"Cafeteria\",\n          },\n        ],\n      },\n    },\n  ],\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":280,"wires":[["242acf1c.94c42"]]},{"id":"7b1826d5.3d2658","type":"function","z":"a894b0dd.23c79","name":"คุณพูดว่า","func":"msg.payload = {\n  replyToken: msg.payload.events[0].replyToken,\n  messages: [\n    {\n      type: \"text\",\n      text: `ท่านพูดว่า ${msg.payload.events[0].message.text}`,\n    },\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":340,"wires":[["242acf1c.94c42"]]},{"id":"82fedf7f.fbe24","type":"function","z":"a894b0dd.23c79","name":"","func":"msg.payload = {\n  replyToken: msg.payload.events[0].replyToken,\n  messages: [\n    {\n      type: \"text\",\n      text: `เคาท์ดาวน์ให้นับถอยหลัง🎄🎉\n            เค้ารักเธอจังให้นับวันขอเป็นเเฟน😍❤`,\n    }\n  ],\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":440,"wires":[["242acf1c.94c42"]]},{"id":"819b6b2f.d03468","type":"ui_text","z":"91756097.6bd82","group":"d102284f.a26708","order":1,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":480,"wires":[]},{"id":"aab2f31d.f0cac","type":"ui_button","z":"91756097.6bd82","name":"","group":"d102284f.a26708","order":1,"width":0,"height":0,"passthru":false,"label":"On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"inTopic","x":190,"y":340,"wires":[["d1953cee.110c8","2c46fd55.4cc272","819b6b2f.d03468"]]},{"id":"7b021a48.1f3194","type":"ui_button","z":"91756097.6bd82","name":"","group":"d102284f.a26708","order":2,"width":0,"height":0,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"str","topic":"inTopic","x":190,"y":420,"wires":[["d1953cee.110c8","2c46fd55.4cc272","819b6b2f.d03468"]]},{"id":"babeb00e.4e5b9","type":"ReplyMessage","z":"a894b0dd.23c79","name":"","channelSecret":" 307947460da9da666330268ac3d7aec9","channelAccessToken":"eI1dAT4G5jKHIvEQav4NekVabvSwvh7Ei4yESf7i2C+L4RIbeFMNJ4oaYZuzws3F+DJOYcnk2OOqUZsQF30VqAGKwt0JKU5Z0u2XSd2XzVVFPrbsfutcp7b/BUsF7o6oJwDmF5ToPOrMYolxWgk0HQdB04t89/1O/w1cDnyilFU=","replyMessage":"สวัสดีครับอิอิ","x":800,"y":440,"wires":[]},{"id":"fbacd04.f6a2f3","type":"inject","z":"a894b0dd.23c79","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":250,"y":460,"wires":[["babeb00e.4e5b9"]]}]